.homepage {
  height: 100%;
  background-image: url('./../../assets/pars-sahin-V7uP-XzqX18-unsplash.jpg');
  background-size: cover;
  background-position: 50% 50%;
  @extend %flex-center;
}

.homepage__presentation {
  color: $__main;
  width: 80%;
  max-width: 600px;
  padding: 4rem 1rem;
  text-align: center;
}

.homepage__presentation_title {
  font-size: 2rem;
}
.homepage__presentation_btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 0;
}
