$__main: #ffffff;
$__sub: #000000;

$__primary: #7be0ff;
$__secondary: #4bf359;
$__tertiary: #99bce2;

$__main_opacity: #ffffff7e;
$__primary_opacity: #76dfff56;
$__error: #ff3c00;

$__grey50: #fafafa;
$__grey100: #f9f9f9;
$__grey200: #eeeeee;
$__grey300: #e0e0e0;
$__grey400: #bdbdbd;
$__grey500: #9e9e9e;
$__grey600: #7e7e7e;
$__grey700: #616161;
$__grey800: #424242;
$__grey900: #212121;
