.btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: $__main;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: $__bold;

  &:hover {
    color: $__sub;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent, $__sub);
  }
  &:nth-child(1) {
    filter: hue-rotate(270deg);
  }
}

a span {
  position: absolute;
  display: block;

  &:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    animation: animate1 2s linear infinite;
  }
  &:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
  }
  &:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
  }
}

.btn:hover.main {
  background: $__main;
  box-shadow:
    0 0 5px $__main,
    0 0 25px $__main,
    0 0 50px $__main,
    0 0 200px #c2c6c6;
}

.btn:hover.primary {
  background: $__primary;
  box-shadow:
    0 0 5px $__primary,
    0 0 25px $__primary,
    0 0 50px $__primary,
    0 0 200px #c2c6c6;
}

.btn.main span:nth-child(1) {
  background: linear-gradient(90deg, transparent, $__main);
}
.btn.main span:nth-child(2) {
  background: linear-gradient(180deg, transparent, $__main);
}
.btn.main span:nth-child(3) {
  background: linear-gradient(270deg, transparent, $__main);
}
.btn.main span:nth-child(4) {
  background: linear-gradient(360deg, transparent, $__main);
}

.btn.primary span:nth-child(1) {
  background: linear-gradient(90deg, transparent, $__primary);
}
.btn.primary span:nth-child(2) {
  background: linear-gradient(180deg, transparent, $__primary);
}
.btn.primary span:nth-child(3) {
  background: linear-gradient(270deg, transparent, $__primary);
}
.btn.primary span:nth-child(4) {
  background: linear-gradient(360deg, transparent, $__primary);
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
