.header {
  z-index: 1001;
  position: fixed;
  width: 100%;
  height: $__header_height;
  padding: 0 1rem;
  color: $__main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font-responsive(1.25, 2);
  backdrop-filter: blur(8px);
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  img {
    width: 3rem;
  }

  span {
    font-weight: $__bold;
  }
}

.header__logo_text {
  display: none;
}
@include mq(xs) {
  .header__logo_text {
    display: inline-block;
  }
}
