.header {
  height: 4rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font-responsive(1.25, 2);
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  img {
    width: 3rem;
  }

  span {
    font-weight: $__bold;
  }
}
