@import '@styles/styles.scss';

.header {
  height: 4rem;
  margin: 0 1rem;

  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  img {
    width: 3rem;
  }

  span {
    @include font-responsive(1.5, 2);
    font-weight: $__bold;
  }
}
