.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.item {
  width: 100%;
  max-width: inherit;
  border-radius: 10px;
  overflow: hidden;

  @include mq('custom600') {
    max-width: 500px;
  }
  @include mq('custom900') {
    max-width: 380px;
  }
}
