/** Configs **/
@import './configs/reset';

/* Stop animations Nav Bar during window resizing/Loading */
.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

body {
  font-family:
    'Ysabeau SC',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100vh;
  display: grid;
  min-width: 245px;
  color: $__main;
  background-image: url('./../assets/pars-sahin-V7uP-XzqX18-unsplash.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

main {
  height: 100%;
}

main section:first-child {
  padding: calc($__header_height + 2rem) 0 2rem;
}

main article:first-child {
  padding-top: calc($__header_height + 2rem);
}

.page-article {
  padding: 1rem;
}

.form-section {
  height: 100%;
  @extend %flex-center;
  flex-direction: column;

  form {
    height: fit-content;
    padding: 1rem;

    @include mq('custom600') {
      padding: 2rem 4rem;
    }
  }

  form,
  input {
    width: 100%;
  }
}

.frame {
  backdrop-filter: blur(8px);
  border-radius: 10px;
  @include custom-box-shadow($__color: $__main_opacity);
  width: 95%;

  @include mq('custom600') {
    width: 70%;
    max-width: 400px;
  }
}

.suspense {
  color: $__main;
  height: 100%;

  @extend %flex-center;
}
